<html class="scroller">



<head>


    <title> Emily Salum - Portfolio </title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="bootstrap-5.1.0-dist/css/bootstrap.css">
    <script scr="bootstrap-5.1.0-dist/js/bootstrap.js"></script>
  
  

    <link rel="stylesheet" href="portfolio_need/styles/condensed_css.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    

    <script src="https://smtpjs.com/v3/smtp.js"></script>

</head>

<body class="body--light-mode">


    <div id="configurations-div"></div>
    <div class="screen-cover screen-cover--loading"> </div>


    <!--
    <button id="change-mode_button" class="change-mode">Change mode</button>
    -->
    <header class="header" id="header">

        <div class="header__container" id="header-container">

            <nav class="header__explorer">


                <div class="header__root-folder" id="root-folder">


                    <a class='header__button header__button--folder' id="projects-button" folder to-translate="projects">
                    </a>

                    <!-- Will hold buttons related to every project -->
                    <div class="header__folder header__folder--closed header__folder--projects" id="projects-buttons">
                        <% for(programming_language of Object.keys(project_lists)){ %>

                        <%let project_list=project_lists[programming_language] ; %>
                           <% for(let i=0; i < project_list.length; i++){ %>
                        <% let project=project_list[i] %>

                        <a class="header__button header__file header__file--closed"
                        href="#projects"
                            link-project-name="<%=project.name%>">
                            <%=project.name.replace("_", " " )%>
                        </a>


                        <%} %>


                        <% }%>

                    </div>


                    <% for(let fileId of fileIds) { %>
                    
                        <a href="#<%=fileId%>" 
                    class='header__button header__file header__button--<%=fileId%>' to-translate="<%=fileId%>">
                    </a> 
                    
                    <%}%>

                   

                    

                </div>





            </nav>
        </div>


    </header>



    <main>




        <!-- Introduction! -->
        <div class="section introduction">

            <h2 class="introduction__name">Emily Salum</h2>

            <h3 class="introduction__text" to-translate="page_introduction"></h3>

        </div>


        <!-- Technologies I know! -->
        <div class="techs section" id="techs">
            <h3 class='section__title techs__title' to-translate="tech-title"></h3>



            <div class="techs__box">
                <!-- tech_list is an array with strings -->

                <div class="techs__name-list">
                    <% for(let i=0; i < tech_list.length; i++){ let tech=tech_list[i]; %>
                    <p class="techs__name" tech-name="<%=tech%>">
                        <%=tech%>
                    </p>
                    <% } %>
                </div>

                <div class="techs__image-list">

                    <% for(let i=0; i < tech_list.length; i++){ let tech=tech_list[i]; %>

                    <img tech="<%=tech%>" class="techs__image" 
                    src="portfolio_need/res/images/techs/<%=tech%>-logo.png">
                    <%}%>

            </div>

                
                
            </div>
            
            
        </div>


        <!-- Projects!  
            -->
        
        <section class="projects holder section">
 
            <h2 class="section__title" id="projects" to-translate="projects"></h2>

            <div class="projects__box">
                <p class="projects__bracket">[</p>
            <div class="projects__selection scroller" id="project-box">
                <% let counter=0;%>

                    <!-- project_lists is a dict with languages paired to projects (str array) -->
                    <% for(language of Object.keys(project_lists)){%>
                    <% let project_list=project_lists[language] %>
                    <% if(project_list.length==0){continue;} %>

                    <% for(let i=0; i < project_list.length; i++){%>
                    <% let project=project_list[i] %>
                    <% counter +=1;%>
                    <div class="projects__project" project-name="<%=project.name%>">
                        <p class="projects__project-index">
                            <%=counter-1%>
                        </p>

                        <% if(project.open_link){ %>
                        <a 
                        rel="noopener noreferrer" target="_blank" href='<%=project.open_link%>' class="projects__project-link">

                            <% } %>
                            <img class="projects__project-image" src="<%=project.image%>">

                            <% if(project.open_link){ %>
                        </a>
                        <% } %>

                        <p class="projects__project-info"><%=project.techs%></p>


                    </div>



                    <%}%>

                                                <%}%>

                </div>

                <p class="projects__bracket">]</p>

            </div>


            </section>



            <!-- Profile, Gives some information about me -->
            <section id="profile" class="profile">
                <h3 class="section__subtitle profile__title profile__element--hidden-from-raw" to-translate="to_know_me"></h3>
                
                <h3 class="profile__key profile__key--opened">const profile = {</h3>
                
                <table class='profile__table profile__element'>
                    <tbody id="profile__body">

                        <% for(let [name, value] of Object.entries(profile)) { %>
                        <tr class="profile__element profile__column">

                            <td class="profile__element profile__field-key" 
                            to-translate="<%=name%>"></td>

                            <td field_class="<%=name%>_value" 
                                class="profile__element profile--raw-value profile__value"
                                not-raw='<%=value.not_raw%>'>
                                <%=value.raw %>
                            </td>
                        </tr>


                        <% } %>

                    </tbody>

                </table>
                <h3 class="profile__key">}</h3>
                
                <button id="profile_button" class="profile__button" 
                to-translate="build_profile"></button>


                </section>

                <section id= "cv" class="cv section">
                    <h2 class="cv__title section__title" to-translate="cv_download"></h2>
                    <a id="cv_link"href="portfolio_need/res/others/cv/cv_portugues.pdf" download="cv.pdf">
                        <button class="cv__button" to-translate="click_here"></button>
                    </a>
                </section>
                

    </main>


    <!-- Footer -> End of site! -->
    <footer class="section contacts" id="contacts">

        <h2 class="section__title" name="contacts" to-translate="contacting"></h2>

        <div class="contacts__form-box" id="contact-form-box">
           
            <h3 class="section__subtitle" to-translate="emailing"></h3>

            <form class="contacts__form"
             id="contact-form">

                <label class="contacts__label" for="name" to-translate="name"></label>

                <input class="contacts__element contacts__input" 
                type="text" id="name" name="name" required>


                <label class="contacts__label" for="email">E-mail</label>

                <input class="contacts__element contacts__input" type="email" id="email" name="email" required>

                <label class="contacts__label" for="message" to-translate="message_to_send"></label>

                <textarea class="contacts__element contacts__input contacts__textarea" id="message" name="messages"></textarea>

                <button type="submit" to-translate="send" 
                class="contacts__send-button contacts__input contacts__element"></button>
            </form>

        </div>




        <!-- Call me in -> To add plataforms where people can contact me -->
        <div class="contacts__links-box">

            <h3 class="section__subtitle contacts__call_me_in" id="call_me_in" to-translate="call_me_in"></h3>

            <a class="contacts__link" href="http://discord.com/users/674759841583202328">
                <img class="contacts__midia" src="portfolio_need/res/images/medias/discord_logo.png">
            </a>

            <a class="contacts__link" href="https://www.linkedin.com/in/emily-salum-839653217/">
                <img class="contacts__midia" src="portfolio_need/res/images/medias/linkedin_logo.png">
            </a>

            <a class="contacts__link" href="https://github.com/emilymarquessalum/">
                <img class="contacts__midia" src="portfolio_need/res/images/medias/github_logo.png">
            </a>

        </div>



        <section id="portfolio_metadata">

            <table>

                <% for(let metadataKey of Object.keys(metadata)) {%>
        
                    <tr>


                        <td>  </td>

                    </tr>

                <%}%>

                </table>
             
        </section>



        <section id="portfolio_creation"></section>


    </footer>

    </div>




</body>


<% for(let language of languages) { %>
<script src="portfolio_need/js/models/languages/<%=language.name%>.js" type="module"></script>
<% } %>
 

<% for(let controllerName of JSControllerNames) { %>
    <script src="portfolio_need/js/controllers/<%=controllerName%>" type="module"> </script>
<%}%>
 

</html>