
<html>
<head>
    <title> Portfolio </title>





    <link rel="stylesheet" href="bootstrap-5.1.0-dist/css/bootstrap.css">
    
    <link rel="stylesheet" href="portfolio_need/styles.css">
    <link rel="stylesheet" href="portfolio_need/reset.css">

    
<script scr="bootstrap-5.1.0-dist/js/bootstrap.js"></script>
    
</head>

<body>

    <header id = "header">

         <nav>

            <ul>
                
                <li>
                    <a href = "#projects" class = "header_button header_element">
                        Projects
                    </a>
                </li>
                
                <li>
                    <a href = "#contacts" class = "header_button header_element">
                        Contact Me
                    </a> 
                </li>

            </ul>
             

             

         </nav>
             
 
    </header>

     

    <main>

        
        <div class = "animation_text inicial_area"> 
        
            <h2 class = "main_text">Emily Salum</h2> 
            
            <h3 class = "presentation_text" name = "write_on">Determined to be the best programmer I can!</h3>
    
        </div>
     
        <h2 class = "language_text project_main_text" id = "projects"> Projects </h2>
        
        <section class="projects holder">
       
            <% for(language of Object.keys(data.project_lists)){%>
                <% let project_list = data.project_lists[language] %>
                
                <% if(project_list.length == 0){continue;}  %>
                 
           
                        <% for(let i = 0; i < project_list.length; i++){%>    
                            <% let project = project_list[i] %>
                     
                                    <div name = "image" class = "project project_element">
                                        <img class="project_element project_image" src = "<%=project.image%>">
                                       
                                            <div class = "project_details">  
                                                <p name = "text" class = "project_text"><%=project.name%></p>
                                                <input name="open_github" type="button" onclick= "open_link('https:/github.com/emilymarquessalum/<%=project.name%>')"value="go to github" class = "project_button">    
                                                <% if(project.open_link){ %>
                                                    <input type="button" name="open_link" onclick= "open_link('<%=project.open_link%>')"value="open" class = "project_button link_button">    
                                                
                                                <% } %>
                                            </div>
                                         
                                        <img class="additional_image project_element" src = "<%=project.image%>">
                                        
                                    </div>

                                   
                                    
                                    
                               
                            
                            
                                    <%}%>
                    
                       
 
            <%}%>
        </section>
 
    

    </main>
     
    
    <footer>

        <h2 class = "project_main_text contacts_text" name = "contacts">Contacting</h2>
        
        <div class = "col d-flex contact_buttons">
            <button data-method = "link" class="contact_button" data-link="http://discord.com/users/674759841583202328" name = "contact_button" > 
                <img class = "media_image" src = "portfolio_need/res/discord_logo.png">

            </button>
            <button data-method = "link" class = "contact_button" data-link= "https://www.linkedin.com/in/emily-salum-839653217/" name = "contact_button"> 
                    <img class = "media_image" src = "portfolio_need/res/linkedin_logo.png">
            </button>
        </footer>
    <!--
        <form class = "contact_form">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname">
        </form>
    --->
    </div>


    <script src = "portfolio_need/behaviour.js">

    
    </script>
</body>

</html>